@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --secondTextColor: #3f4254;
    --sidebar-background: 0 0% 98%;
    --title-color: #3f4254;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
}

.ant-table-thead .ant-table-cell,
.ant-typography {
    color: var(--title-color) !important;
}
